[submodule "themes/docport"]
	path = themes/docport
	url = https://github.com/vjeantet/hugo-theme-docport.git
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
